<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"70px","className":"is-style-global-spacer"} -->
<div style="height:70px" aria-hidden="true" class="wp-block-spacer is-style-global-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide","layout":{"wideSize":"","contentSize":"1200px"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="has-text-align-center">Our Blog</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum non purus vel tincidunt. Phasellus luctus commodo metus, a condimentum felis aliquam quis. Etiam nibh dolor, dignissim at ex at, volutpat venenatis nisi.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px","className":"is-style-default"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer is-style-default"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->
<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","displayLayout":{"type":"flex","columns":4},"layout":{"inherit":true}} -->
<main class="wp-block-query"><!-- wp:post-template {"align":"wide"} -->
<!-- wp:group {"className":"post-inner","layout":{"inherit":true}} -->
<div class="wp-block-group post-inner"><!-- wp:post-featured-image {"isLink":true,"sizeSlug":"full"} /-->

<!-- wp:post-date {"format":"M j, Y","isLink":true,"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /-->

<!-- wp:group {"className":"wp-block-post-content"} -->
<div class="wp-block-group wp-block-post-content"><!-- wp:post-title {"isLink":true,"fontSize":"x-large"} /-->

<!-- wp:post-excerpt {"moreText":"Read More"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"fontSize":"small"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"fontSize":"small"} /-->
<!-- /wp:query-pagination --></main>
<!-- /wp:query -->  

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
